@font-face {
    font-family: "LINESEED";
    src: url("https://cf-static.shinycolors.moe/fonts/LINESeedJP_OTF_Bd.woff2") format("woff2");
}

* {
    font-family: Meiryo, Arial, Helvetica, sans-serif;
}

div span {
    color: #fff;
    padding: 4px;
}

select, option {
    font-family: "LINESEED";
}

.form-select {
    padding: .5rem 2.25rem .375rem 1rem;
    outline: none;
}

select:focus {
    box-shadow: 0 0 3pt 2pt #569ce2;
}

.form-input {
    border-radius: .4rem;
    box-shadow: none;
}

.form-input:focus {
    outline: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}