* {
    font-family: Meiryo, Arial, Helvetica, sans-serif;
}

div span {
    color: #fff;
    padding: 4px;
}

.mySelect {
    padding: .5rem 2.25rem .375rem 1rem;
    border-radius: .4rem;
    box-shadow: 0 0 3pt 2pt #0e3155;
    outline: none;
}

select:focus {
    box-shadow: 0 0 3pt 2pt #569ce2;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}